@import "../shared";

@mixin coloredClass($color-name, $color) {
  &.color--#{$color-name} {
    background-color: $color;
    border: 1px solid border($color);

    &:hover {
      background-color: hover($color);
    }

    &:active {
      background-color: active($color);
    }

    &.disabled, &.disabled:hover, &.disabled:active {
      background-color: disabled($color);
      border: 1px solid disabled(border($color));
    }
  }
}

:host {
  display: inline-flex;

  width: auto;
  height: 30px;

  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;

  color: $text;

  @include regularFontSize;

  user-select: none;
  outline: 0;
  white-space: nowrap;

  &:active {
    border: 1px solid $text !important;
  }

  &.disabled, &.disabled:hover, &.disabled:active {
    pointer-events: none;
    color: disabled($text);
  }

  @include coloredClass('primary', $primary);
  @include coloredClass('light', light($primary));
  @include coloredClass('dark', dark($primary));

  &.color {
    &--minimal {
      background-color: $minimal;
      border: 1px solid border($primary);

      &:hover {
        background-color: $minimal-hover;
      }

      &:active {
        background-color: $minimal-active;
      }

      &.disabled, &.disabled:hover, &.disabled:active {
        background-color: $minimal;
        border: 1px solid disabled(border($primary));
      }
    }

    &--text {
      height: 18px;
      width: auto;

      padding: 0;

      background-color: transparent;
      border: 0;

      &:hover {
        background-color: transparent;
        color: $text-hover;
      }

      &:active {
        background-color: transparent;
        border: 0 !important;
        color: $text-active;
      }

      &.disabled, &.disabled:hover, &.disabled:active {
        background-color: transparent;
        border: 0;
      }

      i, span {
        margin: 0;
      }
    }
  }
}

i {
  font-size: 18px;
  line-height: 18px;

  &.center-icon {
    margin-left: 5px;
    margin-right: 5px;
  }

  &.left-icon {
    margin-left: 5px;
    margin-right: -5px;
  }

  &.right-icon {
    margin-left: -5px;
    margin-right: 5px;
  }
}

span {
  &:not(.empty) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
