<div [ngClass]="prevClass" (click)="page = firstPage" class="button--first">
  <i class="material-icons">first_page</i>
</div>
<div [ngClass]="prevClass" (click)="onPrevButtonClick()" class="button--prev">
  <i class="material-icons">chevron_left</i>
</div>
<div *ngFor="let leftPage of leftPages" (click)="page = leftPage" class="button--left">
  <span>{{ leftPage }}</span>
</div>
<div class="button">
  <span>{{ page }}</span>
</div>
<div *ngFor="let rightPage of rightPages" (click)="page = rightPage" class="button--right">
  <span>{{ rightPage }}</span>
</div>
<div [ngClass]="nextClass" (click)="onNextButtonClick()" class="button--next">
  <i class="material-icons">chevron_right</i>
</div>
<div [ngClass]="nextClass" (click)="page = lastPage" class="button--last">
  <i class="material-icons">last_page</i>
</div>
