@import "../shared";

:host {
  @include regularFontSize;

  display: inline-block;

  padding: 5px 10px 5px 10px;
  border: 1px solid border($primary);
  box-sizing: border-box;

  color: $text;
  background-color: $primary;

  overflow: auto;

  &[multiline=true] {
    min-height: 48px;
  }

  &.focused {
    border: 1px solid $text;
  }
}

.input {
  display: inline-block;

  width: calc(100% - 20px);
  height: calc(100% - 10px);
  padding: 0;
  border: none;
  box-sizing: border-box;

  color: $text;
  background-color: $primary;

  font-family: 'Noto Sans', sans-serif;
  outline: 0;

  &.disabled {
    background-color: disabled($primary);
    color: disabled($text);
  }
}

textarea {
  height: 0;

  overflow: hidden;
  resize: none;
}
