<input
    *ngIf="!multiline"
    #inputRef
    [disabled]="disabled"
    [ngClass]="ngClass"
    [placeholder]="placeholder || ''"
    [value]="ngModel"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    (input)="onInput($event)"
    class="input"
/>
<textarea
    *ngIf="multiline"
    #inputRef
    [disabled]="disabled"
    [ngClass]="ngClass"
    [placeholder]="placeholder || ''"
    [value]="ngModel"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    (input)="onInput($event)"
    class="input"
></textarea>
