@import "../shared";

:host {
  @include regularFontSize;

  display: inline-block;

  width: 100%;
  height: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid border($primary);

  background-color: $primary-background;
}
