<router-outlet></router-outlet>
<div class="component">
    <div class="component__title">Button</div>
    <div class="component__content">
        <div class="component__example__type">
            Default
        </div>
        <div class="flex--row">
            <div class="flex__item">
                <div class="component__example__content">
                    <kn-button (blur)="primaryButtonEvent = 'blurred!'" (click)="primaryButtonEvent = 'clicked!'" (focus)="primaryButtonEvent = 'focused!'">
                        Primary Button
                    </kn-button>
                </div>
                event: {{primaryButtonEvent}}
            </div>
            <div class="flex__item">
                <div class="component__example__content">
                    <kn-button (blur)="lightButtonEvent = 'blurred!'" (click)="lightButtonEvent = 'clicked!'" (focus)="lightButtonEvent = 'focused!'" color="light">
                        Light Button
                    </kn-button>
                </div>
                event: {{lightButtonEvent}}
            </div>
            <div class="flex__item">
                <div class="component__example__content">
                    <kn-button (blur)="darkButtonEvent = 'blurred!'" (click)="darkButtonEvent = 'clicked!'" (focus)="darkButtonEvent = 'focused!'" color="dark">
                        Dark Button
                    </kn-button>
                </div>
                event: {{darkButtonEvent}}
            </div>
        </div>
        <div class="component__example__type">
            Disabled
        </div>
        <div class="flex--row">
            <div class="flex__item">
                <div class="component__example__content">
                    <kn-button (blur)="disabledButtonEvent = 'blurred!'" (click)="disabledButtonEvent = 'clicked!'" (focus)="disabledButtonEvent = 'focused!'" disabled="true">
                        Default Disabled Button
                    </kn-button>
                </div>
                event: {{disabledButtonEvent}}
            </div>
            <div class="flex__item">
                <div class="component__example__content">
                    <kn-button (blur)="disabledButtonEvent = 'blurred!'" (click)="disabledButtonEvent = 'clicked!'" (focus)="disabledButtonEvent = 'focused!'" color="light" disabled="true">
                        Light Disabled Button
                    </kn-button>
                </div>
                event: {{disabledButtonEvent}}
            </div>
            <div class="flex__item">
                <div class="component__example__content">
                    <kn-button (blur)="disabledButtonEvent = 'blurred!'" (click)="disabledButtonEvent = 'clicked!'" (focus)="disabledButtonEvent = 'focused!'" color="dark" disabled="true">
                        Dark Disabled Button
                    </kn-button>
                </div>
                event: {{disabledButtonEvent}}
            </div>
        </div>
    </div>
</div>
<div class="component">
    <div class="component__title">Input</div>
    Input component must be inline-block.
    <div class="component__content">
        <div class="component__example__type">
            Default
        </div>
        <div class="component__example__content">
            <kn-input [(ngModel)]="defaultInputValue" style="width: 200px;" multiline="false" placeholder="singleline"></kn-input>
            value: {{defaultInputValueParsed}}
        </div>
        <div class="component__example__type">
            multiline
        </div>
        <div class="component__example__content">
            <kn-input [(ngModel)]="multilineInputValue" style="width: 200px;" multiline="true" placeholder="multiline"></kn-input>
            value: {{multilineInputValueParsed}}
        </div>
        <div class="component__example__type">
            multiline can be fixed (style="height: 200px;")
        </div>
        <div class="component__example__content">
            <kn-input [(ngModel)]="fixedMultilineInputValue" style="width: 200px; height: 50px;" multiline="true" placeholder="multiline (fixed)"></kn-input>
            value: {{fixedMultilineInputValueParsed}}
        </div>
        <div class="component__example__type">
            Disabled
        </div>
        <div class="component__example__content">
            <kn-input [(ngModel)]="defaultInputValue" style="width: 200px;" multiline="false" disabled="true"></kn-input>
            <kn-input [(ngModel)]="multilineInputValue" style="width: 200px; margin-left: 20px;" multiline="true" disabled="true"></kn-input>
            <kn-input [(ngModel)]="fixedMultilineInputValue" style="width: 200px; height: 50px; margin-left: 20px;" multiline="true" disabled="true"></kn-input>
        </div>
    </div>
</div>
<div class="component">
    <div class="component__title">Dropdown</div>
    <div class="component__content">
        <div class="component__example__content">
            <div *ngFor="let dropdownOption of dropDownOptions">{{dropdownOption | json}}</div>
        </div>
        <div class="component__example__type">
            Default
        </div>
        <div class="component__example__content">
            <kn-dropdown [(ngModel)]="defaultDropDownValue" [(opened)]="defaultDropDownOpened" [options]="dropDownOptions" style="width: 100px;"></kn-dropdown>
            <div>opened: {{defaultDropDownOpened}}</div>
            <div>value: {{defaultDropDownValue?.value | json}}</div>
            <div>model: {{defaultDropDownValue | json}}</div>
        </div>
        <div class="component__example__type">
            Disabled
        </div>
        <div class="component__example__content">
            <kn-dropdown [(ngModel)]="disabledDropDownValue" [(opened)]="disabledDropDownOpened" [options]="dropDownOptions" style="width: 100px;" disabled="true"></kn-dropdown>
            <div>opened: {{disabledDropDownOpened}}</div>
            <div>value: {{disabledDropDownValue?.value | json}}</div>
            <div>model: {{disabledDropDownValue | json}}</div>
        </div>
    </div>
</div>
<div class="component">
    <div class="component__title">Tab/TabPage</div>
    <div class="component__content">
        <div class="component__example__type">
            Default
        </div>
        <div class="component__example__content">
            <kn-tab style="width: 300px; height: 300px;">
                <kn-tab-page *ngFor="let _ of [].constructor(3); index as i" [label]="'label' + i" [bodyTemplate]="bodyTemplate">
                    <ng-template #bodyTemplate>
                        tab{{i}}
                    </ng-template>
                </kn-tab-page>
            </kn-tab>
        </div>
    </div>
</div>
<div class="component">
    <div class="component__title">Progress</div>
    <div class="component__content">
        <div class="component__example__type">
            Default
        </div>
        <div class="component__example__content">
            <kn-progress value="50"></kn-progress>
        </div>
    </div>
    <div class="component__content">
        <div class="component__example__type">
            Label
        </div>
        <div class="component__example__content">
            <kn-progress value="50" label="true"></kn-progress>
        </div>
    </div>
    <div class="component__content">
        <div class="component__example__type">
            Height
        </div>
        Height must bigger then 20.
        <div class="component__example__content">
            <kn-progress value="50" height="20" style="margin-bottom: 10px;"></kn-progress>
            <kn-progress value="50" height="40" style="margin-bottom: 10px;"></kn-progress>
            <kn-progress value="50" height="80"></kn-progress>
        </div>
    </div>
    <div class="component__content">
        <div class="component__example__type">
            Striped
        </div>
        <div class="component__example__content">
            <kn-progress value="50" height="20" label="true" striped="true" style="margin-bottom: 10px;"></kn-progress>
            <kn-progress value="50" height="40" label="true" striped="true"></kn-progress>
        </div>
    </div>
    <div class="component__content">
        <div class="component__example__type">
            Animated
        </div>
        <div class="component__example__content">
            <kn-progress value="50" height="20" label="true" striped="true" animated="true" style="margin-bottom: 10px;"></kn-progress>
            <kn-progress value="50" height="40" label="true" striped="true" animated="true"></kn-progress>
        </div>
    </div>
</div>
