@function light($color) {
  @return lighten($color, 10)
}

@function dark($color) {
  @return darken($color, 10)
}

@function hover($color) {
  @return rgb(red($color) + (255 - red($color)) / 10, green($color) + (255 - green($color)) / 10, blue($color) + (255 - blue($color)) / 10)
}

@function active($color) {
  @return rgb(red($color) + (255 - red($color)) / 10 * 2, green($color) + (255 - green($color)) / 10 * 2, blue($color) + (255 - blue($color)) / 10 * 2);
}

@function border($color) {
  @return rgb(red($color) + (255 - red($color)) / 10 * 3, green($color) + (255 - green($color)) / 10 * 3, blue($color) + (255 - blue($color)) / 10 * 3);
}

@function disabled($color) {
  @return rgba($color, 0.6)
}

@mixin regularFontSize() {
  font-size: 14px;
  line-height: 18px;
}

@mixin regularIconSize() {
  font-size: 18px;
  line-height: 18px;
}

$black: #000000;
$white: #ffffff;

$primary: #475560;
$primary-background: if(lightness($primary) > 50, #fafafa, #666666);

$text: if(lightness($primary) > 50, #000000, #ffffff);
$text-hover: rgba($text, 0.7);
$text-active: rgba($text, 0.4);

$minimal: transparent;
$minimal-hover: mix($primary-background, $primary);
$minimal-active: mix($primary-background, $primary, 25%);
